name: Blocky
version: 2.0.0
slug: blocky
description: Fast and lightweight DNS proxy and ad-blocker for your network
url: https://github.com/robocopklaus/hassio-addon-blocky/tree/main/blocky
arch:
  - armhf
  - armv7
  - amd64
  - aarch64
image: ghcr.io/robocopklaus/hassio-addon-blocky/{arch}
init: false
startup: system
ports:
  53/tcp: 53
  53/udp: 53
  4000/tcp: 4000
ports_description:
  53/tcp: DNS TCP port
  53/udp: DNS UDP port
  4000/tcp: HTTP API and metrics port
map:
  - addon_config:rw
options:
  upstreams:
    groups:
      - name: default
        resolvers:
          - tcp-tls:one.one.one.one
          - tcp-tls:dns.google
          - https://cloudflare-dns.com/dns-query
    init_strategy: blocking
    strategy: parallel_best
    timeout: 2s
  bootstrap:
    dns:
      - 1.1.1.1
      - 8.8.8.8
  filtering:
    query_types: []
  fqdn_only:
    enable: false
  custom_dns:
    mapping: []
    rewrite: []
    custom_ttl: 1h
    filter_unmapped_types: true
  conditional:
    rewrite: []
    mapping: []
    fallback_upstream: false
  client_lookup:
    upstream: ""
    single_name_order: []
    clients: []
  blocking:
    denylists:
      - name: ads
        sources:
          - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
    allowlists: []
    client_groups_block:
      - name: default
        lists:
          - ads
    block_type: zeroIp
    block_ttl: 6h
  caching:
    min_time: 0m
    max_time: 0m
    prefetching: false
    cache_time_negative: 30m
  redis:
    address: ""
    username: ""
    password: ""
    database: 0
    required: false
    connection_attempts: 3
    connection_cooldown: 1s
  prometheus:
    enable: false
    path: /metrics
  log:
    level: info
    timestamp: true
    privacy: false
  custom_config: false
schema:
  upstreams:
    groups:
      - name: str
        resolvers:
          - str
    init_strategy: list(blocking|failOnError|fast)?
    strategy: list(parallel_best|random|strict)?
    timeout: str?
    user_agent: str?
  bootstrap:
    dns:
      - str
  filtering:
    query_types:
      - str
  fqdn_only:
    enable: bool?
  custom_dns:
    mapping:
      - hostname: str
        ips: str
    rewrite:
      - source: str
        target: str
    custom_ttl: str?
    filter_unmapped_types: bool?
  conditional:
    rewrite:
      - source: str
        target: str
    mapping:
      - domain: str
        resolvers:
          - str
    fallback_upstream: bool?
  client_lookup:
    upstream: str?
    single_name_order:
      - match(^[1-9][0-9]*$)
    clients:
      - name: str
        addresses:
          - str
  blocking:
    denylists:
      - name: str
        sources:
          - str
    allowlists:
      - name: str
        sources:
          - str
    client_groups_block:
      - name: str
        lists:
          - str
    block_type: list(zeroIp|nxDomain)?
    block_ttl: str?
  caching:
    min_time: str?
    max_time: str?
    prefetching: bool?
    cache_time_negative: str?
  redis:
    address: str?
    username: str?
    password: password?
    database: int?
    required: bool?
    connection_attempts: int?
    connection_cooldown: str?
  prometheus:
    enable: bool?
    path: str?
  log:
    level: list(trace|debug|info|warn|error)?
    timestamp: bool?
    privacy: bool?
  custom_config: bool?
