name: Blocky
version: 1.0.0
slug: blocky
description: Fast and lightweight DNS proxy and ad-blocker for your network
url: https://github.com/robocopklaus/hassio-addon-blocky/tree/main/blocky
arch:
  - armhf
  - armv7
  - amd64
  - aarch64
image: ghcr.io/robocopklaus/hassio-addon-blocky/{arch}
init: false
startup: system
ports:
  53/tcp: 53
  53/udp: 53
  4000/tcp: 4000
ports_description:
  53/tcp: DNS TCP port
  53/udp: DNS UDP port
  4000/tcp: HTTP API and metrics port
map:
  - addon_config:rw
options:
  upstream_dns:
    - tcp-tls:one.one.one.one
    - tcp-tls:dns.google
    - https://cloudflare-dns.com/dns-query
  bootstrap_dns:
    - 1.1.1.1
    - 8.8.8.8
  deny_lists:
    - group: none
      entries: []
    - group: ads
      entries:
        - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
        - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
        - https://sysctl.org/cameleon/hosts
    - group: tracking
      entries:
        - https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
  client_groups_block:
    - client: default
      groups:
        - ads
        - tracking
  conditional_mapping: []
  client_lookup_upstream: ""
  caching:
    min_time: 5m
    max_time: 30m
    prefetching: true
  custom_config: false
schema:
  upstream_dns:
    - match(^((tcp\+udp|tcp-tls):|https://)?[^ ]+$)
  bootstrap_dns:
    - match(^([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}(:[0-9]+)?|(\[)?[0-9a-fA-F:]+(\])?(:[0-9]+)?)$)
  deny_lists:
    - group: str
      entries:
        - url
  client_groups_block:
    - client: str
      groups:
        - str
  conditional_mapping:
    - domain: str
      resolvers:
        - match(^((tcp\+udp|tcp-tls):|https://)?[^ ]+$)
  client_lookup_upstream: match(^$|^((tcp\+udp|tcp-tls):|https://)?[^ ]+$)
  caching:
    min_time: str
    max_time: str
    prefetching: bool
  custom_config: bool
