name: Lint

on:
  push:
    branches: [main]
    paths:
      - "blocky/Dockerfile"
      - "blocky/rootfs/**"
      - ".hadolint.yaml"
      - ".shellcheckrc"
      - ".github/workflows/lint.yml"
  pull_request:
    branches: [main]

jobs:
  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: blocky/Dockerfile

  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint shell scripts
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          scandir: blocky/rootfs
